<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /motion/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /motion/index.php/$1 [L]
</IfModule>
